:root {
	--colNum: 4;
}
.content {
	max-width: 960px;
	margin: auto;
}

#header{
   text-align: center;
   margin-top: 5px;
   margin-bottom: 5px; 
}
#board > div{
  	background: url(https://i.imgur.com/3mIrLAj.png) no-repeat;
	border:#000 5px solid;
	width:100px;
	height:100px;
	float:left;
	margin:10px;
	padding:20px;
	font-size:64px;
	cursor:pointer;
	text-align:center;
}

#board{
	text-align: center;
	display: grid;
	grid-template-columns: repeat(var(--colNum), 1fr);
	grid-template-rows: repeat(var(--rowNum), 1fr);
	background:#fff;
	grid-auto-rows: minmax(340px, auto);
	grid-auto-columns:  auto;
  	border-radius:10px;
	border:#000 7px solid;
	padding:20px;
	margin: auto;
}

#board > h1 {
    font-size: 250%;
    text-align: center;
}

form {
	padding-bottom: 10px;
}

#resetButton{
	background: #fff;
	border-radius: 10px;
	border: #000 7px solid;
	display: block;
	width: 300px;
	margin: auto;
	font-size: 150%;
	font-weight: 900;
	padding: 10px;
}